main {
  padding: 40px 140px;
}
li {
  display: inline;
  text-decoration: none;
  padding: 16px;
}
li a {
  text-decoration: none;
}
h1 {
  font-size: 72px;
  font-weight: bold;
}
h2 {
  font-size: 64px;
  font-weight: 600;
}
p {
  font-size: 22px;
  font-weight: 500;
}
input {
  display: block;
  margin: 16px 10px;
  padding: 10px;
  padding-right: 140px;
}
section {
  margin: 80px 0 0;
}
img {
  width: 500px;
}
.btn {
  font-size: 20px;
  height: 45px;
  width: 120px;
  border-radius: 4px;
}
.flex-parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.flex-item {
  width: 50%;
}
.hero-img {
  width: 50%;
}
