:root {
  --accent-color: #881111d8;
  --secondary-color: #870e0e45;
  --darker-neutral-color: #cfcfcf;
  --neutral-color: #f7f7f7;
  --white-color: #ffffff;
  --text-color: #1f2933;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --third-font: "Sf Pro Display", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0 auto;
}

nav {
  color: var(--text-color);
  text-align: center;
  padding: 16px 0;
  width: 100%;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  margin: 0 auto;
}
li {
  display: inline;
  padding: 16px;
}

p {
  font-size: 18px;
  font-weight: 400;
}
section {
  margin: 96px 0 0 0;
  padding: 0 56px;
}
img {
  width: 100%;
}
.hero {
  padding: 64px 0;
}
.hero-background {
  background-size: 100%;
  background-image: url(./image/Rectangle\ 19.png);
}
.main-title {
  font-family: var(--primary-font);
  font-size: 72px;
  font-weight: bold;
  margin: 24px 0;
}
.title {
  font-family: var(--secondary-font);
  font-size: 56px;
  font-weight: 600;
  text-align: center;
}
.projects-title {
  margin: 80px 0;
}
.button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 40px;
  color: var(--white-color);
  display: inline-block;
  font-family: var(--third-font);
  font-size: 18px;
  margin-right: 16px;
  padding: 8px 0;
  text-decoration: none;
  text-align: center;
  width: 136px;
}
.button:hover {
  color: var(--accent-color);
  background-color: var(--secondary-color);
}

.hero-img {
  position: relative;
  left: 80px;
  top: 40px;
  max-width: 400px;
}
.card {
  border: none;
  margin-bottom: 72px;
}

.img-card {
  border-radius: 4px;
}
.text-card {
  text-align: left;
  margin: 0px 24px;
}
.email-link {
  margin: 40px 0;
}
.email-link:hover {
  color: var(--accent-color);
  font-size: larger;
}

.form {
  margin: 0 auto;

  width: 400px;
}
.label-input {
  margin: 0 10px;
}
.form-input {
  display: block;
  background-color: var(--neutral-color);
  border: 1px solid var(--darker-neutral-color);
  border-radius: 2px;
  font-size: 18px;
  margin: 4px 10px 12px 10px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
}
.textarea {
  background-color: var(--neutral-color);
  border: 1px solid var(--darker-neutral-color);
  border-radius: 6px;
  display: block;
  font-size: 18px;
  height: 100px;
  margin-left: 10px;
  padding: 6px;
  width: 100%;
}
.button-submit {
  margin: 10px;
  width: 200px;
}
.logo {
  margin: 8px 12px;
}
.logo-link {
  background-color: #e9e9e9;
  border-radius: 50px;
  margin: 12px 8px;
  padding: 8px;
  width: 48px;
}
.logo-link:hover {
  background-color: var(--darker-neutral-color);

  width: 50px;
}
.footer {
  color: var(--white-color);
  margin-top: 120px;
  padding: 24px;
  text-align: center;
}
.footer .logo {
  padding: 4px;
  width: 32px;
  border-radius: 44px;
  background-color: var(--white-color);
}
.footer .logo:hover {
  background-color: var(--darker-neutral-color);

  width: 34px;
}
.gap {
  padding: 12px;
}

@media (max-width: 800px) {
  main {
    padding: 24px;
    margin: 0 auto;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  .form {
    margin-top: 0px;
  }
  section {
    margin: 36px 0 0;
  }
  .main-title {
    font-size: 48px;
    margin-top: 64px;
  }
  .title {
    font-size: 32px;
  }
  .projects-title {
    margin: 30px 0;
  }
  .card {
    display: flex;
    flex-direction: column;
  }

  .button {
    display: inline-block;
    font-size: 14px;
    margin-right: 12px;
    padding: 8px;
    width: 120px;
  }

  .hero-img {
    display: none;
  }
  .text-card {
    margin: 16px 0;
  }

  .form-input {
    font-size: 18px;
    margin: 10px 0;
    height: 40px;
  }
  .textarea {
    font-size: 18px;
    height: 100px;
    padding: 6px;
    position: relative;
  }
  .button-submit {
    margin: 10px;
  }
}
