:root {
  --accent-color: #84d4c8;
  --accent-color-dark: #65baad;
  --light-color: #ececec;
  --titles-color: #142d4c;
  --secondary-titles-color: #385170;
  --text-color: #444444;
  --text-button-color: #25282b;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --third-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
}
main {
  padding: 40px 140px;
}
li {
  display: inline;
  text-decoration: none;
  padding: 16px;
}
li a {
  text-decoration: none;
}
h1 {
  font-family: var(--primary-font);
  font-size: 72px;
  font-weight: bold;
}
h2 {
  font-family: var(--secondary-font);
  font-size: 56px;
  font-weight: 600;
}
p {
  font-size: 18px;
  font-weight: 400;
}
section {
  margin: 80px 0 0;
}
img {
  width: 100%;
}
form {
  margin-top: 60px;
}
.btn {
  font-family: var(--third-font);
  font-size: 18px;
  height: 40px;
  width: 112px;
  border-radius: 4px;
  margin-right: 10px;
}
.flex-parent {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.flex-item {
  width: 50%;
}
.hero-img {
  width: 50%;
}
.email-link {
  margin: 40px 0;
}
.form-input {
  display: block;
  background-color: rgba(231, 231, 231, 0.514);
  font-size: 18px;
  margin: 16px 10px;
  padding: 10px;
  width: 424px;
  height: 50px;
  border: none;
  border-radius: 6px;
}
.textarea {
  background-color: rgba(231, 231, 231, 0.514);
  display: block;
  margin: 10px;
  width: 440px;
  height: 100px;
  border: none;
  border-radius: 6px;
}
.btn-submit {
  margin-left: 10px;
}
.logo-link {
  background-color: #e9e9e9;
  border-radius: 50px;
  margin: 12px 8px;
  padding: 8px;
  width: 40px;
}
