:root {
  --accent-color: #84d4c8;
  --accent-color-dark: #65baad;
  --light-color: #ececec;
  --titles-color: #142d4c;
  --secondary-titles-color: #385170;
  --text-color: #444444;
  --text-button-color: #25282b;
  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Playfair Display", serif;
  --third-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
  margin: 0 auto;
}

nav {
  background-color: antiquewhite;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}
main {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 140px;
}
li {
  display: inline;
  text-decoration: none;
  padding: 16px;
}
li a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 400;
}
section {
  margin: 80px 0 0;
}
img {
  width: 100%;
}
form {
  margin-top: 60px;
}
.main-title {
  font-family: var(--primary-font);
  font-size: 72px;
  font-weight: bold;
  margin-top: 160px;
}
.title {
  font-family: var(--secondary-font);
  font-size: 56px;
  font-weight: 600;
}
.projects-title {
  margin: 80px 0;
}
.button {
  background-color: #3e81d3;
  border: none;
  border-radius: 4px;
  font-family: var(--third-font);
  font-size: 18px;
  margin-right: 12px;
  padding: 12px;
  text-decoration: none;
  width: 120px;
}
.flex-parent {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.flex-item {
  max-width: 490px;
  width: 50%;
}
.hero-img {
  position: relative;
  left: 80px;
  top: 40px;
  max-width: 400px;
}
.img-card {
  border-radius: 8px;
}
.text-card {
  margin: 32px 0;
}
.email-link {
  text-decoration: none;
  margin: 40px 0;
}
.form-input {
  display: block;
  background-color: rgba(231, 231, 231, 0.514);
  font-size: 18px;
  margin: 16px 10px;
  padding: 10px;
  width: 424px;
  height: 50px;
  border: none;
  border-radius: 6px;
}
.textarea {
  background-color: rgba(231, 231, 231, 0.514);
  border: none;
  border-radius: 6px;
  display: block;
  font-size: 18px;
  height: 100px;
  margin: 10px;
  padding: 8px;
  width: 428px;
}
.button-submit {
  margin: 10px;
}
.logo-link {
  background-color: #e9e9e9;
  border-radius: 50px;
  margin: 12px 8px;
  padding: 8px;
  width: 24px;
}
@media (max-width: 600px) {
  main {
    padding: 24px;
    margin: 0 auto;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  form {
    margin-top: 0px;
  }
  .main-title {
    font-size: 42px;
    margin-top: 48px;
  }
  .title {
    font-size: 32px;
  }
  .projects-title {
    margin: 30px 0;
  }
  .button {
    font-size: 14px;
    margin-right: 12px;
    padding: 8px;
    width: 120px;
  }
  .flex-parent {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .flex-item {
    max-width: 490px;
    width: 100%;
  }
  .hero-img {
    display: none;
  }

  .text-card {
    margin: 16px 0;
  }

  .form-input {
    font-size: 18px;
    margin: 10px 0;
    height: 36px;
  }
  .textarea {
    background-color: rgba(231, 231, 231, 0.514);
    border: none;
    display: block;
    font-size: 18px;
    height: 100px;
    padding: 4px;
    position: relative;
    left: -4px;

    width: 92%;
  }
  .button-submit {
    margin: 10px;
  }
  .logo-link {
  }
}
